@model IEnumerable<SunShop.Models.Category>

@{
    ViewBag.Title = "Catogory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <h2>Catogory</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Create new", "CreateCatogory", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "EditCatogory", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCatogory", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
